.header_container {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 95%;
  height: 65px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 background: white;
 border-radius: 5px;
 
}
.header_container ul{
  display:flex;
   
    list-style:none;
    
}
.header_container ul li{
  margin:8px 0px 0px 8px;
  color:gray;
  
  
}

